.navbar{
    position:fixed;
    padding:0;
    z-index:500;
  top:0;
    width:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-link{
    font-size:20px;
    margin-left:15px;
}
section{
    margin-top: 100px;
}

#myVideo {
    
    margin:0;
    left:0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width:100%;
  }
  
  .content {
    font-family: 'oswald', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    top:0;
    color: black;
    width: 100%;
    
  }
  .content p{
      font-size:15px;
  }
  .content h1{
      font-size: 30px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  .womenShoes{
         bottom:40%;
  }
  .row{
    margin:auto;
   
  }
  .buynow{
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    opacity: 0;
    width:200px;
    margin-top:200px;
    margin-left:150px;
  }
  .row-column-image:hover + .buynow, .buynow:hover {
    display: inline-block;
    opacity: 0.9;
}

.saleena{
  padding:0;
  padding: 50px 0;;
  margin-bottom: 60px;
  width:100%;
}
.rrrr{
  width:100px;
  padding: 12px 12px;
  margin-top:150px;
  margin-left:100px;
}
footer{
  text-align:center;
}
.socialMedia{
  height:100px;
  bottom:0;
  margin:0;
  padding:0;
  margin-top:20px;
  background:#C0C0C0;
font-size:10px;
}
.socialMedia p{
  margin:20px;
}
.socialMedia ion-icon{
  float:right;
  font-size:40px;
}
.bottom,.downrow{
  padding:0;
  margin:0;  
    }
    .bottom{
      width:100%;
    }
   .dbotton{
       opacity:1;
       width:90%;
       background-color:white;
       color:black;
       border: 5px solid black;
       margin-top:10px;
  
   }
   .dbotton:hover{
       opacity: 0.2;
       background-color:black;
       color:white;
       border: 5px solid black;
   }
   .card-img-top{
     width:auto;
   }
   