* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    z-index:1000;
    background-image:url("../images/logo.png");
    background-repeat: no-repeat;
    filter:drop-shadow(2px 2px 1px black);
  }

  article {
    background:url("../images/top-image.png") no-repeat top,
    url("../images/bottom-image.png") no-repeat bottom ;
    border-top:1mm solid red;
    border-bottom:1mm solid red;
  }

  img{
    position: absolute;
    top:100px;
    left:70px; 
    bottom:80px;
    z-index:1;
   }